footer {
    background: #141414;
    padding: 20px 0 0;
    height: auto;
  }
  
  footer a {
    color: white;
  }
  
  footer a:hover {
    color: rgb(0, 69, 148);
  }
  
  footer ul li {
    margin: 10px 0;
  }
  
  footer .logo img {
    width: 100%;
    max-width: 100px;
    height: auto;
  }
  
  footer .logo:hover img{
    background-color: #C37500;
    opacity:0.3 !important;
    filter:alpha(opacity=70) !important;
    box-shadow: 0 0 0px #6035eb
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    display: inline;
    margin: 15px 50px 15px 0;
  }
  
  .app-store i {
    font-size: 4rem;
    margin-right: 10px;
  }
  
  .social-links a {
    font-size: 24px;
    color: #ffffff;
  }
  
  .social-links a:hover {
    color: #333;
  }


  
  
  
