.login{
    padding: 20px;
}

.row{
    gap: 0;
}

.login-box{
    flex-basis: 50%;
    padding: 0px 50px;
    border:1px solid #333;
    
}

.login-box form input{
    width: 80%;
}

.login-register{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-register input{
    width: 100%;
    padding: 10px;
}

.right-box{
    flex-basis: 50%;
    background-color: #333;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px
}
.signup-btn{
 padding: 10px 20px;
 border-radius: 5%;
 background-color: red;
 border: none;
 align-self: center;
}

.remember-me input{
    width: 5% !important;
}

input[type="submit"]{
    width: fit-content !important;
    padding: 10px 30px;
    align-self: center;
    margin: 20px;
    background-color: #333;
    color: white;
    border-radius: 10%
}


.gender input[type="radio"]{
    width: fit-content;
}


