/* For tablets */

@media screen and (max-width: 820px) {
  .navigation {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  nav {
    justify-content: center;
    width: 100%;
  }

  nav ul {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 2px;
  }
  nav ul li {
    text-align: center;
    padding: 10px;
  }

  main{
    margin-top: 180px;
  }

  .banner {
    /* margin-top: 200px; */
    width: 100%;
    height: 70vh;
  }

  .search-events {
    flex-wrap: wrap;
    gap: 20px;
  }


  .search-events select{
    width: 45%;
  }
  .categories{
    flex-wrap: wrap;
  }

  .categories-box{
    width: 20%;
  }


}

/*For Smaller View Port smart phones  */

@media screen and (max-width: 600px) {
  html{
    font-size: 50%;
  }
  
  header {
    display: none;
    text-align: center;
  }

  .responsive-header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .responsive-header img {
    width: 50px;
    height: 50px;
  }


  .banner {
    margin: 0;
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
  }

  .overlay {
    background-color: #131424;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.86;
    z-index: 1;
  }

  .banner-desc {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translate(0%, 0%);

    /* gap: 10px; */
  }

  .quote {
    font-size: 2rem;
  }

  .search-events {
    width: 70%;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    gap: 10px;
  }

  .search-events:hover {
    background-color: rgba(255, 255, 255, 0.671);
  }

  #btn-search-events {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.356);
    padding: 10px;
    border-radius: 2%;
    width: 40%;
    box-shadow: none;
    border: none;
    color: white;
  }

  /* select{
    width: 50%;
  } */

  #btn-search-events:hover {
    background-color: rgb(255, 0, 0);
  }


  select > option {
    border-radius: 0%;
    font-size: 15px;
  }

  .search-events select:hover {
    cursor: pointer;
    background-color: white;
  }

  .banner-video {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    transform: scale(3);
  }

  .categories-box{
    width: 40%;
  }

  .featured-events{
    width: 80%;
  }

  /* section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin-top: 20px;
  } */

  footer {
    flex-direction: column;
    gap: 2px;
  }

}
